@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Helping MO Heroes</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed enim mauris, auctor at arcu id, efficitur iaculis diam. Suspendisse luctus ullamcorper ante, gravida aliquet libero imperdiet quis. Vestibulum iaculis sapien dapibus faucibus sollicitudin. Donec auctor, eros nec consequat lacinia, eros ipsum feugiat ex, at iaculis neque eros sed felis. Nam sapien orci, rhoncus vitae ex sed, tristique auctor elit. Maecenas lobortis gravida convallis. Quisque consectetur sem nisl, in euismod augue rutrum sit amet.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Topic 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum lorem at elit gravida, a tempor enim dictum. Praesent congue tellus quis magna congue convallis. Etiam purus mi, tempor ut nunc a, molestie tincidunt justo. Duis id dolor egestas odio ullamcorper mollis. Fusce sagittis nec tellus a pretium. Cras sed lorem urna. Phasellus odio metus, congue eu purus a, aliquet efficitur dolor. Nam eget leo vitae nisl cursus ultrices. Pellentesque vel tristique felis. Nunc lectus ex, aliquam sed augue ut, rutrum placerat ante.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Topic 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel nulla lorem. Duis vitae augue non felis efficitur tempor id at sapien. Integer commodo aliquet nulla, eu vestibulum ligula tristique eu. Nullam leo felis, hendrerit ultricies nibh sed, egestas consectetur nunc. Fusce at rhoncus lacus. Suspendisse lorem arcu, dignissim elementum velit eget, suscipit gravida ante. In hac habitasse platea dictumst. In vehicula augue id dui elementum pretium. In orci nunc, pharetra sit amet neque vitae, vulputate gravida diam. Quisque sagittis ex felis, quis dictum velit varius a. Sed non mauris odio. Vestibulum eu tempor elit. Quisque non laoreet lorem, non laoreet libero.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Topic 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, tellus non tincidunt eleifend, magna dui fringilla diam, ac cursus mauris lacus nec ligula. Suspendisse facilisis vehicula fringilla. Vestibulum orci diam, tempor ac dapibus ac, dignissim vel odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam malesuada dictum ipsum eu tempor. Vestibulum mollis ipsum lorem. Aenean vitae placerat sem. Aliquam condimentum ullamcorper ipsum in accumsan. Etiam suscipit, felis ut convallis finibus, mauris lorem elementum diam, vitae pellentesque sem velit nec orci. Mauris rutrum urna aliquet, elementum lacus non, fermentum dui. Suspendisse in fringilla metus. Nunc sed aliquet purus. Etiam eget enim quis ante ullamcorper iaculis sit amet eu diam. Etiam hendrerit quam vitae erat porta venenatis. Curabitur tristique dui nec gravida interdum. Praesent urna enim, aliquam vehicula varius vel, vestibulum id dui.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>